ENVIRONMENT=development
DB_SOURCE=postgresql://root:secret@localhost:5432/mitra?sslmode=disable

AI_MODELS.GPT4.NAME=gpt-4
AI_MODELS.GPT4.BASE_URL=https://api.openai.com/v1
AI_MODELS.GPT4.API_KEY=your_gpt4_api_key_here

AI_MODELS.GEMINI.NAME=gemini-pro
AI_MODELS.GEMINI.BASE_URL=https://generativelanguage.googleapis.com/v1beta
AI_MODELS.GEMINI.API_KEY=your_gemini_api_key_here

AI_MODELS.ANTHROPIC.NAME=claude-3-5-sonnet-20240620
AI_MODELS.ANTHROPIC.BASE_URL=https://api.anthropic.com/v1
AI_MODELS.ANTHROPIC.API_KEY=your_gemini_api_key_here

